body{
	background-color: $quaternary !important;
}
.backdrop{
	height: calc(100% - 62px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 62px 0 0 0; padding: 0px;
	background-size: cover;
	background-image: url(../files/images/castle.jpg);
	background-position: bottom;
	h1{
		color: white;
		font-size: 60px;
		display: block;
		letter-spacing: 0.1em;
		margin-top: auto;
		font-size: 70px;
	}
	h1::after{
		position: relative;
		z-index: 1;
		bottom: -26px;
		display: block;
		content: 'About Me';
		transform: scaleY(-1);
		color: rgba(255, 255, 255, 0.2)
	}
}
.directory{
	width: 100%;
	display: block;
	padding: 1em;
	box-sizing: border-box;
	p{
		font-size: 18px;
		width: 66%;
		border-radius: 5px;
		margin: 0 auto 1% auto; padding: 3% 3%;
		box-sizing: border-box;
		background-color: $primary;
	}
	h1{
		font-size: 24px;
		height: 50px;
        margin: 0 auto !important;
        max-width: 66%;
        @include centered-flex;
        font-size: 18px;
		font-weight: 800;
		color: $senary;
	}
}
@media screen and (min-width: 768px){
	.backdrop{
		h1{
			font-size: 85px;
		}
	}
	.disable-transparency{
		height: 79px;
	}
	.backdrop{
		min-height: calc(100% - 79px);
	}
	.directory{
		h1{
			margin: 2.5% 0;
		}
		h1::before,
		h1::after {
			content: '';
			border-top: 3px solid;
			margin: 0 20px 0 0;
			flex: 1 0 20px;
			color: $senary;
		}
		h1::after {
			margin: 0 0 0 20px;
		}
	}
}
@media screen and (min-width: 1280px){
	.backdrop{
		h1{
			font-size: 100px;
		}
	}
}


