$all-s: all 0.6s ease-in-out;
$d-card-s: none !important;
$d-row-s: opacity 0.6s ease-in;
@mixin tile-details{
	height: 40px;
    width: 100%;
    @include spacing-reset;
    cursor: pointer;
}
@mixin all-transition{
    transition: $all-s;
	-moz-transition: $all-s;
    -webkit-transition: $all-s;
    -o-transition: $all-s;
    -ms-transition: $all-s;
}
@mixin d-card-transition{
    transition: $d-card-s;
	-moz-transition: $d-card-s;
    -webkit-transition: $d-card-s;
    -o-transition: $d-card-s;
    -ms-transition: $d-card-s;
}
@mixin d-row-transition{
    transition: $d-row-s;
	-moz-transition: $d-row-s;
    -webkit-transition: $d-row-s;
    -o-transition: $d-row-s;
    -ms-transition: $d-row-s;
}
//Structure
.products{
    height: calc(100vh - #{$header-mobile});
    min-height: 500px;
    position: relative;
    background: $secondary;
    @include anchor-reset;
    box-sizing: border-box;
    padding: 1px 15px 70px 15px;
    text-align: center;
    input{
		display: none;
	}
    button{
        border: none;
        background-color: transparent;
    }
    a{
        @include spacing-reset;
    }
    h1{
        height: 70px;
        margin: 0 auto;
        max-width: 100%;
        @include all-transition;
        @include centered-flex;
        font-size: 18px;
        font-weight: 800;
        color: $primary;
    }
    h1::before,
    h1::after {
        content: '';
        border-top: 3px solid $prod-b;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }
   h1::after {
        margin: 0 0 0 20px;
    }
}
.products-row{
    @include centered-flex;
    justify-content: space-between;
    position: relative;
    height: 376px;
    margin: 0 auto;
    @include d-row-transition;
    text-align: center;
    color: $secondary;
    figure{
        display: block;
        position: absolute;
        margin: 0 auto;
        left: 160%;
        transform: rotate(50deg);
        @include all-transition;
        @include spacing-reset;
        pointer-events: auto;
        height: 376px;
        width: 290px;
        opacity: 0;
        border-radius: 5px;
        overflow: hidden;
        img{
            @include spacing-reset;
            display: block;
            object-fit: cover;
            height: 270px;
            width: 100%;
            pointer-events: none;
        }
    }
}
///Dots///
.product-nav{
    position: absolute;
    height: 72px;
    bottom: -15%; left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	@include centered-flex;
}
///Events///
#event4:checked ~ .product-nav #dot4, 
#event5:checked ~ .product-nav #dot5, 
#event6:checked ~ .product-nav #dot6,
#event7:checked ~ .product-nav #dot7{
	border: solid 3px $primary;
	background: transparent;
}
#load-more{
    display: none;
    position: relative;
    width: 255px;
    height: 50px;
    margin-top: 45px;
    border: 3px solid;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 14px;
    color: $primary;
}
input:checked + figure{
    left: 50%;
    transform: rotate(0deg);
    transform: translateX(-50%);
    opacity: 1;
}

@media screen and (min-width: 768px){
    .products{
        height: calc(100vh - #{$header-desktop});
        padding: 1px 30px 70px 30px !important;
        h1{
            height: 80px;
            font-size: 24px;
        }
    }
}
@media screen and (min-width: 1280px){
    .products{
        padding: 1px 55px 70px 55px !important;
        h1{
            height: 155px;
        }
    }
    .products-row{
        figure{
            display: block;
            position: static;
            transform: rotate(0deg);
            transform: translateX(0) !important;
            opacity: 1;
            pointer-events: auto;
            @include d-card-transition;
            transition: transform 0.2s !important;
        }
        figure:nth-of-type(2){
            margin: 0 15px 0 30px;
        }
        figure:nth-of-type(3){
            margin: 0 30px 0 15px;
        }
        figure:hover{
            transform: scale(1.15) !important;
            z-index: 99;
        }
    }
    .products-row:not(:first-of-type){
        margin-top: 30px;
    }
    #load-more{
        display: inline-block;
    }
    .product-nav{
        display: none;
    }
}
//Tile Styles//
.tile-info{
    width: 205px;
    margin: 0 auto;
    padding: 13px 0;
    box-sizing: border-box;
}
.tile-wrap{
    box-sizing: border-box;
    padding: 0 8px 8px 8px;
    height: 106px;
    width: 100%;
    background: $primary;

}
.tile-price{
    @include tile-details;
    @include spacing-reset;
    @include centered-flex;
}