$slider1: "../files/mtkyoto.jpg";
$slider2: "../files/downtownosaka.jpg";
$slider3: "../files/osakacastle.jpg";
@import "global.scss";
@import "header.scss";
@import "navigation.scss";
@import "slider-1.scss";
@import "sales.scss";
@import "banner-1.scss";
@import "products.scss";
@import "benefits.scss";
@import "footer.scss";