$slider1: "../files/mtkyoto.jpg";
$slider2: "../files/downtownosaka.jpg";
$slider3: "../files/osakacastle.jpg";
@import "global";
@import "header";
@import "navigation";
@import "slider-1";
@import "sales";
@import "banner-1";
@import "products";
@import "benefits";
@import "footer";

@media screen and (min-width: 768px){
    .home-wrap{
        height: calc(100vh - #{$header-desktop});
        width: 90%;
        display: flex;
        margin: $header-desktop auto 0 auto;
    }
}